<div class="container mt-40">
   <h1 class="text-center">La dream team</h1>
   <div class="row mt-30">
       <div class="col-md-4 col-sm-6">
           <div class="box16">
               <img src="http://bestjquery.com/tutorial/hover-effect/demo118/images/img-1.jpg">
               <div class="box-content">
                   <h3 class="title">Furkan Albayrak</h3>
                   <span class="post">Backend + Frontend</span>
                   <ul class="social">
                       <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                       <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                       <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                   </ul>
               </div>
           </div>
       </div>
       <div class="col-md-4 col-sm-6">
           <div class="box16">
               <img src="http://bestjquery.com/tutorial/hover-effect/demo118/images/img-2.jpg">
               <div class="box-content">
                   <h3 class="title">Lam Liedel</h3>
                   <span class="post">Frontend</span>
                   <ul class="social">
                       <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                       <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                       <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                   </ul>
               </div>
           </div>
       </div>
       <div class="col-md-4 col-sm-6">
           <div class="box16">
               <img src="http://bestjquery.com/tutorial/hover-effect/demo118/images/img-3.jpg">
               <div class="box-content">
                   <h3 class="title">Jeremy Haller</h3>
                   <span class="post">Backend</span>
                   <ul class="social">
                       <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                       <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                       <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                   </ul>
               </div>
           </div>
       </div>
   </div>
</div>
