<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut !</h1>
    <p>
      ??? souhaite prendre rdv avec vous.
    </p>
    <p>
      Pour accéder à ton espace client, connecte-toi via : .
    </p>
    <p> À très vite sur AirBatiment !
  </body>
</html>