<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut !</h1>
    <p>
      Ton rendez-vous avec ??? a bien été enregistré.
      Ton conseiller devrait valider ton rendez-vous très prochainement. En attendant, sit & relax.
    </p>
    <p>
      Pour accéder à ton espace client, connecte-toi via : .
    </p>
    <p> À très vite sur AirBatiment !
  </body>
</html>