<div class="row text-center">

<% @houses.sort.each do |house| %>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h4 class="card-title"><%= house.title %></h4>
          <p class="card-text"><%= house.description %></p>
          <p class="card-text"><%= house.price_house %>€</p>
        </div>
        <%= link_to "Plus d'informations ?", house_path(house.id), class:"btn btn-outline-info mx-1 my-1" %>
      </div>
    </div>
<% end %>

</div>
