<div class="row text-center">


<% @houses.sort.each do |house| %>

      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header"><%= house.title %></h4>
          <a href="#"><img class="card-img-top" src="https://www.ion-architecture.com/images/constructeur-maison-loir-et-cher_1.jpg" alt=""></a>
          <div class="card-body">
            <p class="card-text"><%= house.description %></p>
            <p class="card-text"><%= house.price_house %>€</p>
          </div>
          <div class="card-footer">
            <%= link_to "Plus d'informations ?", house_path(house.id), class:"btn btn-info" %>
          </div>
        </div>
    </div>
<% end %>

</div>
