<section class="container-fluid bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="mx-auto mb-5 mb-lg-0 mb-lg-3">
        <h3>Fully</h3>
        <p class="lead mb-0">this theme=</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mx-auto mb-5 mb-lg-0 mb-lg-3">
          <h3>Fully2</h3>
          <p class="lead mb-0">this theme=</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mx-auto mb-5 mb-lg-0 mb-lg-3">
          <h3>Fully3</h3>
          <p class="lead mb-0">this theme=</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Image showcase-->
<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('https://airbatiment.s3.eu-west-3.amazonaws.com/MaisonTest4.jpeg')"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Fully responsive</h2>
        <p class="lead mb-0" >When you use a theme created by Start Bootstrap, you know that the theme will look great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-1 text-white showcase-img" style="background-image: url('https://airbatiment.s3.eu-west-3.amazonaws.com/MaisonTest4.jpeg')"></div>
      <div class="col-lg-6 order-lg-2 my-auto showcase-text">
        <h2>Fully responsive2</h2>
        <p class="lead mb-0" >When you use a theme created by Start Bootstrap, you know that the theme will look great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img " style="background-image: url('https://airbatiment.s3.eu-west-3.amazonaws.com/MaisonTest4.jpeg')"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Fully responsive3</h2>
        <p class="lead mb-0" >When you use a theme created by Start Bootstrap, you know that the theme will look great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!</p>
      </div>
    </div>
  </div>
</section>