<div class="container-fluid bg-light text-center">
  <div class="container-fluid p-5">
    <h1 class="mb-4">Une utilisation du site en 3 points !</h1>
    <div class="row">
      <div class="col-lg-4">
        <div class="mx-auto mb-5 mb-lg-0 mb-lg-3" style="font-size: 48px">
        <i class="fas fa-desktop m-auto text-primary"></i>
        <h3>Particulier</h3>
        <p class="lead mb-0">Vous êtes à la recherche d'informations pour la construction de votre futur maison et vous voudriez visiter des maisons.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mx-auto mb-5 mb-lg-0 mb-lg-3" style="font-size: 48px">
          <i class="fas fa-house-user m-auto text-primary"></i>
          <h3>Propriétaire</h3>
          <p class="lead mb-0">Vous voulez proposer votre bien sur notre plateforme et partager un maximum d'informations sur la construction de votre bien.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mx-auto mb-5 mb-lg-0 mb-lg-3" style="font-size: 48px">
          <i class="far fa-check-circle m-auto text-primary"></i>
          <h3>Professionnel</h3>
          <p class="lead mb-0">Vous souhaitez garder un lien avec vos anciens clients et leur envoyer vos clients potentiels pour du temps de travail.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Image showcase-->
<div class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      
      <div class="col-lg-6 order-lg-2 text-white showcase-img p-5"><img src="https://www.babeau-seguin.fr/wp-content/uploads/2014/07/Meniliere_refonte_v2.jpg" class="img-fluid" alt="Responsive image"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text p-5" >
        <h2>Particulier</h2>
        <p class="lead mb-0">Constuction SUR-MESURE et en toute sérénité.<br><br>
        Avec airbatiment, vous pouvez visiter des maisons, récolter des informations utiles et rencontrer des professionnels de qualité.<br><br>
        Il vous suffit de faire une recherche en fonction de votre ville, d'ajouter des filtres si vous avez des préférences et de choisir la ou les maisons qui vous conviennent.
        Pour pouvoir visiter une maison, vous devez vous connecter et prendre un RDV avec le propriétaire de la maison.</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-1 text-white showcase-img p-5"><img src="https://www.batiactu.com/images/auto/620-465-c/20170215_123218_couple-istock000049035128double.jpg" class="img-fluid" alt="Responsive image"></div>
      <div class="col-lg-6 order-lg-2 my-auto showcase-text p-5">
        <h2>Propriétaire</h2>
        <p class="lead mb-0">Arrondir ses fins de mois et faire des rencontres.<br><br>
        Avec Airbatiment, vous pouvez faire visiter vos maisons, partager des informations sur la constuction et donner votre avis sur les pro.<br><br>
        Il faut vous inscrire sur notre plateforme, compléter le formulaire et partager tous vos documents justifiant la construction. 
        Il ne reste plus qu'à décorer un peu votre page en ajoutant une rapide description et quelques photos pour attirer les futurs maîtres d'ouvrage.
        </p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img p-5"><img src="https://www.talen.fr/scripts/files/5cc85b163d1593.14916390/fotolia_214206641_subscription_monthly_m-1.jpg" class="img-fluid" alt="Responsive image"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text p-5">
        <h2>Professionnel</h2>
        <p class="lead mb-0">Portfolio d'anciens clients et d'autres services.<br><br>
        Avec Airbatiment, vous pouvez présenter votre portfolio à vos clients, économiser du temps sur les visites et gagner de l'argent par le biais de vos anciens clients qui valorisent votre travail.<br><br>
        Une simple connexion et un partage de lien à vos anciens clients qui souhaitent proposer leur bien sur la plateforme.
        </p>
      </div>
    </div>
  </div>
</div>