<div class="container-fluid bg-light text-center">
  <div class="container-fluid p-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="mx-auto mb-5 mb-lg-0 mb-lg-3" style="font-size: 48px">
        <i class="fas fa-desktop m-auto text-primary"></i>
        <h3>Etape 1</h3>
        <p class="lead mb-0">this theme=</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mx-auto mb-5 mb-lg-0 mb-lg-3" style="font-size: 48px">
          <i class="fas fa-house-user m-auto text-primary"></i>
          <h3>Etape 2</h3>
          <p class="lead mb-0">this theme=</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mx-auto mb-5 mb-lg-0 mb-lg-3" style="font-size: 48px">
          <i class="far fa-check-circle m-auto text-primary"></i>
          <h3>Etape 3</h3>
          <p class="lead mb-0">this theme=</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Image showcase-->
<div class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img p-5" style="background-image: url('https://previews.123rf.com/images/in4mal/in4mal1606/in4mal160600207/59566424-vue-ext%C3%A9rieure-de-la-maison-moderne-et-belle-avec-grand-jardin-panorama.jpg')"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text p-5" >
        <h2>Fully responsive</h2>
        <p class="lead mb-0" >When you use a theme created by Start Bootstrap, you know that the theme will look great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-1 text-white showcase-img p-5" style="background-image: url('https://previews.123rf.com/images/in4mal/in4mal1606/in4mal160600207/59566424-vue-ext%C3%A9rieure-de-la-maison-moderne-et-belle-avec-grand-jardin-panorama.jpg')"></div>
      <div class="col-lg-6 order-lg-2 my-auto showcase-text p-5">
        <h2>Fully responsive2</h2>
        <p class="lead mb-0" >When you use a theme created by Start Bootstrap, you know that the theme will look great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img p-5" style="background-image: url('https://previews.123rf.com/images/in4mal/in4mal1606/in4mal160600207/59566424-vue-ext%C3%A9rieure-de-la-maison-moderne-et-belle-avec-grand-jardin-panorama.jpg')"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text p-5">
        <h2>Fully responsive3</h2>
        <p class="lead mb-0" >When you use a theme created by Start Bootstrap, you know that the theme will look great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!</p>
      </div>
    </div>
  </div>
</div>