/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 *= require modern-business
 */

 html, body {
   height: 100%;
   padding: 0;
   margin: 0;
 }

 html, body {
   padding: 0;
   margin: 0;
 }


 body {
   min-height:100vh;
   display: flex;
   flex-direction: column;
 }


 footer {
    margin-top: auto;
    bottom: 0;
    width: 100%;
    background: #000000;
    color: #FFFFFF;
 }


.bg-custom{
    background-color: #117a8b;
}

.bg-slide {
    background-color: rgba(0, 0, 0, 0.5)
}

/* layouts/_jumbotron.html.erb */
.change {
 background: url('https://previews.123rf.com/images/in4mal/in4mal1606/in4mal160600207/59566424-vue-ext%C3%A9rieure-de-la-maison-moderne-et-belle-avec-grand-jardin-panorama.jpg') no-repeat center center;
 text-align: center;
 background-size: cover;
}

header {
 margin-bottom: 0;
 height: 300px;
 color: white; /* Le texte sera affiché en blanc */
 text-shadow: black 0.3em 0.3em 0.3em;
 background:transparent;
}
