<% if current_page?(root_path) || current_page?(new_house_path)%>
  <div class="jumbotron mb-4" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://images.unsplash.com/photo-1516156008625-3a9d6067fab5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
      width: 100%;
      height: 42vh;
      background-position: bottom 80px;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 0 !important;
  ">
      <div class="container">
        <h1 class="display-4 text-white">AirBatiment</h1>
        <p class="lead text-warning"><strong>Venez proposer vos maisons</strong></p>
        <%= link_to "Mettre une maison en exposition", new_house_path, class:"btn btn-outline-warning btn-lg mx-1 my-1" %>
      </div>
  </div>
<% end %>
